@model Rental.WEB.Models.View_Models.Manager.ShowReturnsVM

@{
    ViewBag.Title = "ShowReturns";
}

<ul class="list-group">
    @foreach (var i in Model.Orders)
    {
        <li class="list-group-item">
            <div>
                <h6>@i.Id</h6>
                <h3>@i.Car.Brand.Name @i.Car.Model</h3>
                <p>@i.DateStart.ToShortDateString()-@i.DateEnd.ToShortDateString()</p>
                <a class="btn btn-outline-dark" href="@Url.Action("Return","Manager",new { id=i.Id})">Подтвердить</a>
            </div>
        </li>
    }
</ul>