@model Rental.WEB.Models.Domain_Models.Identity.UserDM

@{
    ViewBag.Title = Model.Name;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>

        </dt>
        <dd>
            <a class="btn btn-default btn-dark" href="@Url.Action("LogOut","Account")">Выйти</a>
        </dd>
    </dl>

</div>