@model Rental.WEB.Models.View_Models.Rent.IndexVM

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/styles-rent/index")

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        @foreach (var i in Model.Cars)
        {
            <div class="col-md-12 car-item">
                <div class="row">
                    <div class="col-3">
                        <img />
                    </div>
                    <div class="col-9">
                        <h2>@i.Model</h2>
                        <h3>@i.Brand.Name</h3>
                        <h4>@i.Price</h4>
                        <hr />
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@i.Кoominess</li>
                            <li class="list-group-item">@i.Transmission.Category</li>
                            <li class="list-group-item">@i.Fuel</li>
                        </ul>
                        <p>Сосотояние: @i.Quality.Text</p>
                        <p class="text-right"><a class="btn btn-dark" href="@Url.Action("Car","Rent",new { id=i.Id})">Подробнее &raquo;</a></p>
                    </div>
                </div>
            </div>
        }
        @foreach (var i in Model.Cars)
        {
            <div class="col-md-12 car-item">
                <div class="row">
                    <div class="col-3">
                        <img />
                    </div>
                    <div class="col-9">
                        <h2>@i.Model</h2>
                        <h3>@i.Brand.Name</h3>
                        <h4>@i.Price</h4>
                        <hr />
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@i.Кoominess</li>
                            <li class="list-group-item">@i.Transmission.Category</li>
                            <li class="list-group-item">@i.Fuel</li>
                        </ul>
                        <p>Сосотояние: @i.Quality.Text</p>
                        <p class="text-right"><a class="btn btn-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866"></a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>