@model Rental.WEB.Models.View_Models.Client.ShowUserOrdersVM

@{
    ViewBag.Title = "ShowUserOrders";
}

@Styles.Render("~/Content/styles/client/show-orders")

<div class="row">
    <div class="col-md-4" style="background-color:black; height:1000px;">
        sd
    </div>
    <div class="col-md-8">
        @foreach (var i in Model.OrdersDM)
        {
        <div class="col-12">
            <h3>
                <b>Сатус: </b>
                @Model.Statuses[i.Id]
            </h3>
            <h4><b> Номер:</b> @i.Id</h4>
            <h4><b>Автомобиль:</b> @i.Car.Brand.Name @i.Car.Model</h4>
            <h4><b>Период:</b> @i.DateStart.ToShortDateString()-@i.DateEnd.ToShortDateString()</h4>
            <h4><b>Сумма: </b>@(i.Payment.Price.ToString())</h4>
            @if (i.Payment != null && !i.Payment.IsPaid)
            {
            <h3 class="text-danger">Не оплачен</h3>
            }

        </div>
        <hr />
        }
    </div>
</div>
